<!-- Comment form -->
<h3>Post a comment:</h3>
<form method="POST" action="https://api.staticman.net/v2/entry/stephanieM89/stephanieM89.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="https://stephaniescodingadventures.com">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <div>
    <legend>Name</legend>
    <input name="fields[name]" type="text">
  </div>
  <div>
    <legend>Comment</legend>
    <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
  </div>
  
  <div>
    <button type="submit">Submit Comment</button>
  </div>
</form>