<!-- Comment form -->
<h3>Post a comment:</h3>
<form method="POST" action="https://dev.staticman.net/v3/entry/stephanieM89/stephanieM89.github.io/master">
  <input name="options[redirect]" type="hidden" value="https://stephanieM89.github.io/stephanie.github.io">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <div>
    <legend>Name</legend>
    <input name="fields[name]" type="text">
  </div>
  <div>
    <legend>Comment</legend>
    <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
  </div>
  
  <div>
    <legend><em>Comments will appear after moderation.</em></legend>
    <button type="submit">Submit Comment</button>
  </div>
</form>